.promo-header-module__wrapper {
    margin-top: 25px;
}

.promo-header-module__content {
    display: flex;
    justify-content: space-between;
    gap: 0 10px;
}

.promo-header-module__button {
    padding: 26px 45px 24px 44px;
    max-width: 380px;
    width: 100%;
}

.promo-header-module__services-wrapper {
    display: flex;
    margin-top: 60px;
    justify-content: space-between;
    gap: 0 10px;
    max-width: 556px;
}

.promo-header-module__services-wrapper > div:last-child {
    margin-top: 11px;
}

.promo-header-module__service > div:last-child {
    margin-top: 34px;
}

.promo-header-module__button > div{
    padding: 10px;
}

.promo-header-module__img-left {
    margin-top: 28px;
}

.promo-header-module__content-left h1 {
    color: var(--primary-grey);
    font-size: 54px;
    font-weight: 600;
    line-height: 110%;
    letter-spacing: -2%;
    text-align: left;
    max-width: 592px;
    margin-bottom: 32px;
    width: 100%;
}

@media (max-width: 1050px) {
    .promo-header-module__content-left h1{
        font-size: 32px;
    }
}

@media (max-width: 512px) {
    .promo-header-module__services-wrapper {
        margin-top: 45px;
    }

    .promo-header-module__button {
        max-width: 334px;
        padding: 17px 32px;
        font-size: 14px;
    }
}