.the-header__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 21px;
    gap: 0 30px;
}
.the-header__chats-wrapper {
    display: flex;
    gap: 0 12px;
}

.the-header__info-content{
    display: flex;
    align-items: center;
    gap: 0 44px;
}

.the-header__chats-wrapper {
    display: flex;
}

.the-header__chats-wrapper a {
    border: 1px solid var(--primary-grey-49);
    border-radius: 50%;
    padding: 12px;
}

.the-header__links-wrapper{
    display: flex;
    max-width: 489px;
    width: 100%;
    justify-content: space-between;
}

.the-header__links-wrapper a {
    color: var(--primary-grey);
    font-size: 18px;
    font-weight: 500;
    line-height: 21px;
    letter-spacing: 0;
    text-align: left;
}

.the-header__links-wrapper a:last-child{
    margin-right: 0;
}

.the-header__contacts a {
    color: var(--primary-grey);
    font-size: 16px;
    font-weight: 400;
    line-height: 15px;
    letter-spacing: 0;
    text-align: left;
}

.the-header__contacts p {
    font-size: 10px;
    font-weight: 400;
    line-height: 25px;
    letter-spacing: 0;
    text-align: left;
    color: var(--grey-200);
}