@import "../fonts/stylesheet.css";

:root {
  --primary-grey: #211f22;
  --secondary-grey: #232323;
  --primary-grey-49: rgba(33, 31, 34, 0.49);
  --primary-purple: #726f9f;
  --secondary-purple: #353337;
  --clean-black: #000;
  --white: #fff;
  --white-100: #ededed;
  --white-200: #fafafa;
  --white-300: #f4f4f4;
  --grey-100: #dadada;
  --grey-200: #808080;
  --dark-grey-100: #171717;
  --dark-grey-200: #231f20;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
  font-family: "Manrope", sans-serif;
}

body {
  background-color: #fff;
}

body::-webkit-scrollbar {
  width: 3px;
}

body::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

body::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
}

/* * {
  user-select: none;
} */
*::-webkit-scrollbar {
  width: 3px;
}

*::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

*::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
}

.gorizontal::-webkit-scrollbar {
  height: 3px;
}

.gorizontal::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

.gorizontal::-webkit-scrollbar-thumb {
  background-color: #726f9f;
  outline: 1px solid slategrey;

  border-radius: 10px;
}

img {
  max-width: 100%;
  object-fit: cover;
  object-position: center;
}

a {
  text-decoration: none;
  cursor: pointer;
}

li {
  list-style: none;
}

input,
button,
textarea {
  outline: none;
  border: none;
  resize: none;
}

.container-big {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;

  @media (max-width: 991.98px) {
    padding: 0 15px;
  }
}

.container {
  width: 100%;
  max-width: 1358px;
  margin: 0 auto;
  padding: 0 20px;

  @media (max-width: 991.98px) {
    padding: 0 15px;
  }
}
.wrapper {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}
